<h2>Make an appointment</h2>
<p>Here you can book an appointment to a barber</p>

<form action="/visit" method="POST">

  <div class="form-group">
    <label>Your name</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name">
  </div>


  
  <button type="submit" class="btn btn-primary">Book an appointment</button>

</form>