<h2>Make an appointment</h2>
<p>Here you can book an appointment to a barber</p>

<form action="/visit" method="POST">

  <div class="form-group">
    <label>Your name</label>
    <input name="username" type="text" class="form-control" placeholder="Enter your name">
  </div>

  <div class="form-group">
    <label>Your phone</label>
    <input name="phone" type="text" class="form-control" placeholder="Enter your phone">
  </div>

  <div class="form-group">
    <label>Appointment date and time</label>
    <input name="username" type="text" class="form-control" placeholder="Enter date and time">
  </div>

   <div class="form-group">
    <label>Choose your barber:</label>
    <select class="form-controll">
      <option>Jessie Pinkman</option>
      <option>Walter White</option>
      <option>Gus Fring</option>
    </select>
  </div>
  
  <button type="submit" class="btn btn-primary">Book an appointment</button>

</form>